*.bin
*.targets
obj/Debug/net48/RegistrarDocumentRequestSystem.GeneratedMSBuildEditorConfig.editorconfig
*.vsidx
.vs/RegistrarDocumentRequestSystem.slnx/v18/.suo
*.v2
.vs/RegistrarDocumentRequestSystem.slnx/v18/DocumentLayout.json
.vs/RegistrarDocumentRequestSystem.slnx/v18/DocumentLayout.backup.json
obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.vb
obj/Debug/net48/RegistrarDocumentRequestSystem.AssemblyInfo.vb
obj/Debug/net48/RegistrarDocumentRequestSystem.AssemblyInfoInputs.cache
obj/Debug/net48/RegistrarDocumentRequestSystem.assets.cache
obj/Debug/net48/RegistrarDocumentRequestSystem.exe.withSupportedRuntime.config
obj/Debug/net48/RegistrarDocumentRequestSystem.vbproj.AssemblyReference.cache
obj/project.assets.json
obj/project.nuget.cache
obj/RegistrarDocumentRequestSystem.vbproj.nuget.dgspec.json
obj/RegistrarDocumentRequestSystem.vbproj.nuget.g.props
